.UserListItem {
    margin-bottom: 20px;
}

.UserListItem img {
    min-width: 140px;
    min-height: 140px;
    width: 140px;
    margin-top: -60px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 100px;
}