.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gradient-card-header {
  padding: 1.6rem 1rem;
  text-align: center;
}

.purple-gradient {
  background: -webkit-linear-gradient(50deg,#ff6ec4,#7873f5) !important;
  background: -o-linear-gradient(50deg,#ff6ec4,#7873f5) !important;
  background: linear-gradient(40deg,#ff6ec4,#7873f5) !important;
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg,#45cafc,#303f9f) !important;
  background: -o-linear-gradient(50deg,#45cafc,#303f9f) !important;
  background: linear-gradient(40deg,#45cafc,#303f9f) !important;
}

.mdb-gradient {
  background: -webkit-linear-gradient(50deg,#929fba ,#1c2a48) !important;
  background: -o-linear-gradient(50deg,#929fba ,#1c2a48) !important;
  background: linear-gradient(40deg,#929fba ,#1c2a48) !important;
}

.card-cascade {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius: .25rem .25rem 0 0;
    border-radius: .25rem .25rem 0 0;
}

.text-center {
  text-align: center !important;
}
